receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"
  awsecscontainermetrics:
    collection_interval: 10s

processors:
  batch:
    timeout: 2s
    send_batch_size: 8192
    send_batch_max_size: 10000
  memory_limiter:
    check_interval: 1s
    limit_percentage: 70
    spike_limit_percentage: 30
  resource/env:
    attributes:
      - key: environment
        value: ${ENVIRONMENT}
        action: upsert
  resource:
    attributes:
      - key: service.name
        value: ${SERVICE_NAME}
        action: upsert
  resource/ecs:
    attributes:
      - key: service.name
        value: ecs
        action: upsert

exporters:
  otlphttp/b14:
    endpoint: ${SCOUT_ENDPOINT}
    auth:
      authenticator: oauth2client
    tls:
      insecure_skip_verify: true
    retry_on_failure:
      enabled: true
      initial_interval: 2s
      max_interval: 10s
      max_elapsed_time: 60s
  debug:
    verbosity: detailed

extensions:
  health_check:
    endpoint: 0.0.0.0:13133
  oauth2client:
    client_id: ${SCOUT_CLIENT_ID}
    client_secret: ${SCOUT_CLIENT_SECRET}
    endpoint_params:
      audience: b14collector
    token_url: ${SCOUT_TOKEN_URL}
    tls:
      insecure_skip_verify: true

service:
  extensions: [oauth2client, health_check]
  pipelines:
    logs:
      receivers: [otlp]
      processors: [resource/env, resource, batch, memory_limiter]
      exporters: [otlphttp/b14]
    metrics:
      receivers: [otlp]
      processors: [resource/env, resource, batch, memory_limiter]
      exporters: [otlphttp/b14]
    metrics/ecs:
      receivers: [awsecscontainermetrics]
      processors: [resource/env, resource/ecs, batch, memory_limiter]
      exporters: [otlphttp/b14]
    traces:
      receivers: [otlp]
      processors: [resource/env, resource, batch, memory_limiter]
      exporters: [otlphttp/b14]
